/*CSS ALL*/
.checkbox,
.radio {
	display: inline-block;
	margin-bottom: 15px;
	&:hover {
		cursor: pointer;
	}
}
// checkbox indent & radio indent
.indent {
    padding-left: 30px;
    .icon-checkbox,
    .icon-radio {
        margin-left: -30px;
    }
}

.checkbox input[type="checkbox"],
.radio input[type="radio"] {
	display: none;
}

.icon-checkbox,
.icon-radio {
	height: 20px;
	width: 20px;
	margin-right: 5px;
	display: inline-block;
	border: 1px solid #ddd;
	position: relative;
	bottom: -3px;
}

.checkbox:hover .icon-checkbox,
.radio:hover .icon-radio {
	border-color: green;
}

.checkbox input[type="checkbox"],
.radio input[type="radio"] {
	&:checked + i:after {
		content: "";
		position: absolute;
		top: 6px;
		left: 6px;
        height: 8px;
        width: 8px;
        background: green;
	}
	&:disabled + i {
		border-color: #eee;
	}
	&:disabled:checked + i:after {
		background-color: #999;
	}
}

/*Radio CSS*/
.radio input[type="radio"] {
	& + i {
		border-radius: 50%;
	}
	&:checked + .icon-radio:after {
		border-radius: 50%;
	}
}

.disabled:hover {
	cursor: not-allowed;
}

.checkbox-xs,
.radio-xs {
    .icon-checkbox,
    .icon-radio {
        height: 14px;
        width: 14px;
    }
    // checkbox indent & radio indent
    &.indent {
        padding-left: 25px;
        .icon-checkbox,
        .icon-radio {
            margin-left: -25px;
        }
    }
    input[type="checkbox"],
    input[type="radio"] {
        &:checked + i:after {
            top: 4px;
            left: 4px;
            height: 6px;
            width: 6px;
        }
    }
}
